.auth-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form input[type="email"], 
.auth-form input[type="password"], 
.auth-form input[type="text"], 
.auth-form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
}

.auth-form button[type="submit"] {
    width: 100%;
    background-color: #282;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.auth-form button[type="submit"]:hover {
    background-color: #393;
}

.auth-form form {
    border-radius: 5px;
    background-color: rgba(60, 60, 60, 0.7);
    padding: 20px;
}

.error {
    display: none;
    color: #ffdddd;
    background-color: #562e2e;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ffaaaa;
    text-align: center;
}