.main-content {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.cart {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.empty-cart {
    text-align: center;
    color: #ccc;
    font-size: 20px;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    border-bottom: 1px solid #444;
    padding: 20px 0;
}

.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    font-size: 20px;
    color: #f4f4f4;
}

.item-price {
    color: #ccc;
    font-size: 18px;
}