.content-error {
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.content-error h1 {
    font-size: 150px;
    line-height: 150px;
    color: #333;
    width: auto;
}

.content-error h2 {
    color: #333;
}

.content-error p {
    margin: 20px 0;
    color: #555;
}

.content-error ul {
    list-style: none;
    padding: 0;
    color: #555;
}

.content-error li {
    margin-bottom: 10px;
}

.content-error .error-actions {
    margin-top: 25px;
}

.content-error .error-actions .btn {
    margin-right: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #0056b3;
    text-decoration: none;
    border-radius: 5px;
}

.content-error .error-actions .btn:hover {
    background-color: #0069d9;
}