.main-content {
    min-height: 100vh;
}

.order-container {
    width: 50%; /* Adjust the width as necessary */
    margin: 40px auto;
    padding: 20px;
    background-color: #20262a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overview {
    border: none;
}

.overview h2 {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #2e383f;
}

.item {
    background-color: #2a2f33;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.total-amount {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: large;
    font-weight: 600;
}

.details {
    margin-bottom: 20px;
}

.details > div {
    background-color: #2a2f33;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.details label {
    margin-bottom: .5rem;
    color: #8a8d90;
}

.details div {
    color: #ffffff;
    line-height: 1.5;
}


/* Gombok és interaktív elemek */
.button-group {
    text-align: right;
    padding: 2vh 0;
}

.button-group button {
    border: none;
    border-radius: 4px;
    padding: 1vh 2vh;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    margin-left: 1vh;
    color: white;
}

.button-group .confirm-btn {
    background-color: #28a745;
}

.button-group .cancel-btn {
    background-color: #72767d;
}

.button-group button:hover {
    transform: scale(1.05);
}

.confirm-btn:hover {
    background-color: #218838;
}

.cancel-btn:hover {
    background-color: #5b5e60;
}


.list-items {
    list-style: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.list-item {
    display: flex; /* Arrange items horizontally */
    align-items: center; /* Vertically align content */
    padding: 15px 20px; /* Add some padding */
    border-bottom: 1px solid #ddd; /* Add a subtle border between items */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.item-details {
    flex: 1; /* Allow details to expand */
    display: grid; /* Use grid layout for structured formatting */
    grid-template-columns: repeat(3, 1fr); /* Divide into three equal columns */
    grid-gap: 10px; /* Add some space between details */
}

.item-details span {
    font-weight: bold; /* Make labels stand out */
}

.item-name,
.quantity-field,
.item-price {
    margin: 0; /* Remove default margin */
}

.item-price, .total-price {
    color: #3c763d; /* Green color for price */
}

.total-label {
    margin-right: 4px;
}

/* Hide the hidden input by default */
input[type="hidden"] {
    display: none;
}



.details {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap if needed */
    margin: 20px 0; /* Add some margin above and below the details section */
}

.details div {
    display: flex;
    flex-direction: column; /* Stack labels and values vertically */
    width: 50%; /* Set width for each detail container */
    margin-bottom: 15px; /* Add some space between details */
    padding: 1vh; /* Add some padding around content */
    border: 1px solid #ddd; /* Add a thin border */
    border-radius: 5px; /* Slightly round corners */
}

.details label {
    font-weight: bold; /* Make labels stand out */
    margin-bottom: 5px; /* Add some space below labels */
}

