/* Main Content & Layout */
.main {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    padding-right: 20px;
    width: 100% ;
  }
    
/* Sidebar */
.sidebar {
    flex: 0 1 200px;
    padding: 10px;
    background-color: #242424;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-y: auto;
  }
  
  .sidebar h3 {
    margin-bottom: 15px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar li a {
    display: block;
    padding: 5px 0;
    color: inherit;
    text-decoration: none;
  }
  
  .sidebar li a:hover {
    color: #1e90ff;
  }
  
    
/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
  gap: 20px;
  justify-content: center;
  width: 100%;
}
    
.product-card {
  background-color: #2a2a2a;
  color: #f4f4f4;
  border: 1px solid #333;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  will-change: transform, box-shadow, border-color;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border-color: #1e90ff;
}
    
  .product-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
    
  .product-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
    
  .product-price {
    font-size: 18px;
    margin-bottom: 10px;
  }
    
  .product-description {
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .product-container {
    position: relative;
    padding-top: 50px;
    width: 100%;
}

.add-product-button {
    position: absolute;
    top: -7px;
    right: 0;
}

.btn-disabled {
    background-color: #333;
    color: #666;
    cursor: not-allowed;
}

.btn-disabled:hover {
    background-color: #333;
    color: #666;
}

/* No Products Message */
.no-products {
  text-align: center;
  font-size: 24px;
  color: #888;
  margin-top: 50px;
}

.new-products-container, .suggested-products-container, .top-category-products-container {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #1a1a1a;
  border-left: 5px solid #1e90ff;
}

.new-products-container h2, .suggested-products-container h2, .top-category-products-container h2 {
  color: #fff;
  margin-bottom: 20px;
}

.product-grid.new-arrivals-grid, .product-grid.suggested-products-grid, .product-grid.top-category-products-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  
  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .product-card {
    flex: 0 1 100%;
  }
}

.collapsible {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1.5em;
  text-align: left;
}

.collapsible .arrow {
  float: right;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible-content.show {
  max-height: 1000px; /* adjust this value according to your content size */
}