.product-header {
    background-color: #222;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid #444;
}

.product-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background: #252525;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 5px 7px rgba(0,0,0,0.2);
}

.product-image-gallery {
    flex: 1;
    padding-right: 20px;
}

.product-image {
    width: 100%;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details {
    flex: 2;
    padding: 0 20px;
    font-size: 18px;
}

.price {
    font-size: 24px;
    color: #4CAF50;
    font-weight: bold;
    margin-top: 10px;
}

.add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #43A047;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.reviews-section {
    background: #252525;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 5px 7px rgba(0,0,0,0.2);
}

.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #333;
    transition: background-color 0.2s;
}

.review-content {
    flex-grow: 1;
}

.review-controls {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.review:hover {
    background-color: #2a2a2a;
}

.review:last-child {
    border-bottom: none;
}

.review-text {
    font-size: 16px;
    color: #ccc;
}

.review-rating {
    color: #ffd740;
    font-weight: bold;
    font-size: 16px;
}

.review-form {
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    background: #222;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.review-form form {
    display: flex;
    flex-direction: column;
}

.review-form label {
    margin: 10px 0 5px;
    color: #bbb;
    font-size: 16px;
}

.review-form textarea,
.review-form select,
.review-form button {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

.review-form textarea {
    resize: vertical;
    width: 100%;
    max-width: 100%;
}

.review-form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.review-form button:hover {
    background-color: #43A047;
}

.sort-container {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.sort-container label {
    color: #ccc;
    font-size: 16px;
    margin-right: 10px;
}

.sort-dropdown {
    padding: 8px 12px;
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.sort-dropdown:hover {
    background-color: #555;
}

.sort-dropdown:focus {
    outline: none;
    border-color: #ffd740;
}

.sort-dropdown option {
    padding: 8px;
    font-size: 16px;
}

.sort-dropdown:focus option {
    font-size: 18px;
}

.delete-review-button, .delete-product-button {
    background-color: #ff4c4c;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.delete-review-button:hover, .delete-product-button:hover {
    background-color: #e04343;
}

.delete-review-button:disabled, .delete-product-button:disabled {
    background-color: #ff4c4c;
    color: white;
    opacity: 0.5;
    cursor: not-allowed;
}

.product-details {
    flex: 2;
    padding: 0 20px;
    font-size: 18px;
    overflow: auto;
    word-wrap: break-word;

}